
<!DOCTYPE html>
<html>
<head>
<style>
image_tag {
    margin-top: 10p;
    margin-left: 150px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
<h2>This is the About Page for Alpha-Blog</h2>

<%= link_to 'Home', root_path %>
<p></p>

<%= image_tag 'photo_birds_on_the_beach2.png'%>
</head>
</html>

