<!DOCTYPE html>
<html>
<head>
    <div class="center jumbotron">
        <h1>ALPHA BLOG</h1>
        <%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg" %>
    </div>
</head>
<body>
<article>
  <h1 id="home">Home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet neque id orci scelerisque molestie. Donec ipsum tortor, mollis a accumsan sed, cursus tempus mauris. Mauris leo ex, tempus quis euismod a, lobortis et sem. Sed odio turpis, pharetra vel neque id, sodales blandit neque. Etiam pulvinar tellus non mi vulputate ultricies. Aliquam lacinia felis sit amet risus venenatis, at tempor lectus feugiat. Ut ornare egestas consectetur. Sed vitae posuere elit. Pellentesque rutrum, dui ac imperdiet ultricies, tellus neque gravida diam, a faucibus tellus sem sit amet leo. Proin id ipsum tellus. Donec scelerisque turpis quam. Curabitur ac ullamcorper eros. Duis pretium interdum molestie. Fusce tempus vel erat a euismod.</p>
</article>
</body>
</html>